{% extends 'base_lnnx.html' %}

{% block title %}
	陇南农校欢迎您 - Welcome to LongNan Middle Agriculture School  
{% endblock %}

{% block style %}

	<style type="text/css">

		#wrap > .container {
			padding-top: 60px;
			}
	</style>
{% endblock %}           

{% block css %} {%endblock%}

{% block js %} {%endblock%}
       
{% block content %}
	 <div id=main class="container">
		<div class="page-header">
			<h1>Welcome to GWFPblog</h1>
		</div>
		<p class="lead">gaowufeipeng</p>
		
	</div>
	
{% endblock %}
